# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Cmake build directories
**/build/

# Distribution / packaging
*.json
sample_videos*

# Media
*.mp4
*.avi
*.mp3
*.mpeg
*.jpg
*.png
*.tiff
*.HEIC
*.bmp
*.wav

# Misc
*.DS_Store*
*fuse_hidden*

# Models
*.zip
*.pt
*.pth
*.tar*
*.csv
*.h5
*.mlmodel
*.pb
*.tflite
*.onnx
*.index
*variables.data*
*.npy

.python-version

# lonesnake 
.lonesnake/

